ul {
  margin-left: 470px;
}


.navbar-brand {
  display: block;
  position: absolute;
  z-index: 10;
  left: 50%;
  top: 8px;
  width: 186px;
  height: 101px;
  margin: 0 0 0 -93px;
  background: url("http://www.coffeecava.ru/bitrix/templates/cava/images/logobg.png")
    no-repeat 0 0;
  color: #000;
}

img {
  margin-left: 17%;
}

li {
   border-radius: 5px;
  font-family: "reformagroteskdemicregular";
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 1;
}

li:hover {
   background-color: #a47351;
}

#historial {
  margin-left: 200px;
}
