<nav class="navbar navbar-expand-lg navbar-light" style=" background-color: whitesmoke;">
    <div class="container-fluid">
      <span class="navbar-brand" id="logo">
        <img src="assets/img/logo.png" width="120" height="80">
      </span>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Tienda</a>
          </li>
          <li class="nav-item active" id="historial">
            <a class="nav-link active" aria-current="page" href="#">Historial de Compra</a>
        </ul>
      </div>
    </div>
  </nav>

  