<app-navebar></app-navebar>
<h2 class="container"><b>Historial de compra {{usuarioActivo.nombre}}</b></h2>
<div class="tabla">
  <table class="table" id="ventas">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Fecha</th>
        <th scope="col">ID</th>
        <th scope="col">Valor total</th>
        <th scope="col">Detalle</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let compra of usuarioActivo.compras">
        <td>{{compra.fecha}}</td>
        <td>{{compra.id}}</td>
        <td>{{compra.valor}}</td>
        <td><button class="btn btn-primary" (click)= "verDetalle(compra)">Ver Detalle</button></td>
      </tr>
    </tbody>
  </table>
  <div class=" paginas pull-right">
    <button id="btnAtras" class ="paginacion" (click) = "clickBack()">&#60;</button>
    <button id="btnSiguiente" class ="paginacion" (click) = "clickNext()">&#62;</button>
  </div>
</div>

<div class="tablaDetail" *ngIf="detalle">
  <table class="table">
    <tr>
      <th>Fecha: </th>
      <td>{{compraDetalle.fecha}}</td>
    </tr>
    <tr>
      <th>ID: </th>
      <td>{{compraDetalle.id}}</td>
    </tr>
  </table>

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Producto</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Valor Unitario</th>
        <th scope="col">Valor Total</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of compraDetalle.items">
        <td>{{item.nombreProducto}}</td>
        <td>{{item.cantidad}}</td>
        <td>{{item.precioVenta}}</td>
        <td>{{item.precioVenta * item.cantidad}}</td>
      </tr>
    </tbody>
  </table>
  <div class = "paginaItem">
    <span id="atrasItem" (click) = "clickBackItem()">  &#60;&#60; </span>
    <span id = "delanteItem" (click) = "clickNextItem()"> &#62;&#62; </span>
  </div>
  <div class="d-flex flex-row-reverse bd-highlight">
    <button class="btn btn-primary" (click) = "salirDetalle()">Volver</button>
  </div>

</div>

