<div class = "containerFilter">
    <div class = "container">
        <h2><b>Filtrar</b></h2>
        <ul><li class="displayInline"><a id="todos" (click) ="mostrarVentas(0)" ><b>Todo</b></a></li>
            <li class="displayInline"><a id="bebidas" (click) ="mostrarVentas(1)"><b>Enero</b></a></li>    
            <li class="displayInline"><a id="Pasteleria" (click) ="mostrarVentas(2)"><b>Febrero</b></a></li>    
            <li class="displayInline"><a id="regalos" (click) ="mostrarVentas(3)"><b>Marzo</b></a></li> 
            <li class="displayInline"><a id="regalos" (click) ="mostrarVentas(4)"><b>Abril</b></a></li> 
            <li class="displayInline"><a id="regalos" (click) ="mostrarVentas(5)"><b>Mayo</b></a></li> 
            <li class="displayInline"><a id="regalos" (click) ="mostrarVentas(6)"><b>Junio</b></a></li> 
            <li class="displayInline"><a id="regalos" (click) ="mostrarVentas(7)"><b>Julio</b></a></li> 
            <li class="displayInline"><a id="regalos" (click) ="mostrarVentas(8)"><b>Agosto</b></a></li> 
            <li class="displayInline"><a id="regalos" (click) ="mostrarVentas(9)"><b>Septiembre</b></a></li> 
            <li class="displayInline"><a id="regalos" (click) ="mostrarVentas(10)"><b>Octubre</b></a></li> 
            <li class="displayInline"><a id="regalos" (click) ="mostrarVentas(11)"><b>Noviembre</b></a></li> 
            <li class="displayInline"><a id="regalos" (click) ="mostrarVentas(12)"><b>Diciembre</b></a></li> 
        </ul>
    </div>
</div>
