h1
{
    align-content: center;
   margin-left: 35%;
   margin-top: 30px;
}

.porque
{
    margin: 50px;
}
.col
{
    text-align: justify;
    float: left;
    width: 33.33%;
    padding: 45px;
}

.porque:after {
    content: "";
    display: table;
    clear: both;
  }
  h3{
      text-align: center;
  }

  h4{
      margin-bottom: 40px;
  }

  .apoyo
{
    text-align: justify;
    margin-left: 180px;
}
.image
{   
    float: left;
    width: 25%;
}
